.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(179, 100%, 13%);
}
.attribution button {
  border: none;
  margin-top: 1em;
  background: transparent;
  color: hsl(179, 100%, 13%);
}
