* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}

@media screen and (max-width: 900px) {
  .wrapper {
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
